@page
@model WebApp.Pages.Cliente.GridModel
@{
}

<br />
<div class="container-fluid">
    <div class="card">
        <div class="card-header">

            CUSTOMERS


        </div>
        <div class="card-body">

            <a class="btn btn-outline-primary" asp-page="Edit">
                <i class='bx bxs-comment-add'></i>
            </a>

            <div class="row">

                <div class="col-12"></div>
                <table id="GridView" class="table table-bordered table-striped table-over">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GridList)
                        {
                            <tr>
                                <td>@item.ClientesId</td>
                                <td>@item.NombreCompleto</td>
                                <td>@item.Direccion</td>
                                <td>@item.Telefono</td>
                                <td>@(item.Estado ?"Activo" :"Inactivo")</td>
                                <td>
                                    <a class="btn btn-outline-primary" asp-page="Edit" asp-route-id="@item.ClientesId">
                                        <i class='bx bx-edit-alt'></i>
                                    </a>
                                    <button type="button" class="btn btn-outline-danger"
                                            onclick="ClienteGrid.OnClickEliminar(@item.ClientesId)">
                                        <i class='bx bx-trash'></i>
                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>


        </div>
    </div>
</div>


@section Scripts{

    <script defer src="~/App/Cliente/Grid.js"></script>

}