@page
@model WebApp.Pages.MovimientoBitacora.MovimientoBitacoraGridModel
@{
}

<br />
<div class="container-fluid">
    <div class="card">
        <div class="card-header">

            MOVEMENT LOG


        </div>
        <div class="card-body">

            <a class="btn btn-outline-primary" asp-page="FacturasEdit">
                <i class='bx bxs-download'></i>
            </a>

            <div class="row">

                <div class="col-12"></div>
                <table id="GridView" class="table table-bordered table-striped table-over">
                    <thead>
                        <tr>
                            <th>User Movement Id</th>
                            <th>User Id</th>
                            <th>Movement Date</th>
                        </tr>
                    </thead>
                    @*<tbody>
                                                @foreach (var item in Model.GridList)
                                                {
                                    <tr>
                                        <td>@item.IdFactura</td>
                                        <td>@item.FechaPedido.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Cliente.NombreCompleto</td>
                                        <td>@item.Pedido</td>
                                        <td>@item.TipoServicio</td>
                                        <td>@item.Monto</td>
                                        <td>@item.Impuesto</td>
                                        <td>@((item.Impuesto/100)* item.Monto)</td>
                                        <td>@item.Total</td>
                                        <td>@item.Observaciones</td>
                                        <td>@(item.Estado ?"Activo" :"Inactivo")</td>
                                        <td>
                                            <a class="btn btn-outline-primary" asp-page="FacturasEdit" asp-route-id="@item.IdFactura">
                                                <i class='bx bx-edit-alt'></i>
                                            </a>
                                            <button type="button" class="btn btn-outline-danger"
                                                    onclick="FacturasGrid.OnClickEliminar(@item.IdFactura)">
                                                <i class='bx bx-trash'></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-danger"
                                                        onclick="AlquilerGrid.OnClickEliminar(@item.IdFactura)">
                                                    <i class='bx bx-download'></i>
                                                </button>

                                        </td>
                                    </tr>
                        }
                                            </tbody>*@

                </table>

            </div>


        </div>
    </div>
</div>
