@page
@model WebApp.Pages.BitacoraUsuario.BitacorasGridModel
@{
}
<br />
<div class="container-fluid">
    <div class="card">
        <div class="card-header">

            INCOME LOG


        </div>
        <div class="card-body">

            <div class="row">

                <div class="col-12"></div>
                <table id="GridView" class="table table-bordered table-striped table-over">
                    <thead>
                        <tr>
                            <th>Id Log</th>
                            <th>User Id</th>
                            <th>User Name</th>
                            <th>Date</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GridList)
                        {
                            <tr>
                                <td>@item.BitacoraId</td>
                                <td>@item.UsuariosId</td>
                                <td>@item.Usuario</td>
                                <td>@item.FechaIngreso.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@item.IngresoSalida</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>


        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.bootstrap4.min.js"></script>


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    @*<script defer src="~/App/Roles/RolesGrid.js"></script>*@
    <script src="~/App/DatatableJst.js"></script>

}